<?xml version="1.0"?>
<config>

    <modules>
        <Dotdigitalgroup_Email>
            <version>1.5.1</version>
        </Dotdigitalgroup_Email>
    </modules>
    <frontend>
        <routers>
            <connector>
                <use>standard</use>
                <args>
                    <module>Dotdigitalgroup_Email</module>
                    <frontName>connector</frontName>
                </args>
            </connector>
        </routers>
        <layout>
            <updates>
                <connector>
                    <file>connector.xml</file>
                </connector>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <connector>
                <class>Dotdigitalgroup_Email_Model</class>
            </connector>
            <sales>
                <rewrite>
                    <order>Dotdigitalgroup_Email_Model_Order</order>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <connector>
                <class>Dotdigitalgroup_Email_Helper</class>
            </connector>
        </helpers>
        <blocks>
            <connector>
                <class>Dotdigitalgroup_Email_Block</class>
            </connector>
        </blocks>

        <resources>
            <connector_setup>
                <setup>
                    <module>Dotdigitalgroup_Email</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </connector_setup>
            <customer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customer_write>
            <customer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customer_read>
        </resources>
        <events>
            <customer_save_before>
                <observers>
                    <contactid>
                        <class>Dotdigitalgroup_Email_Model_Observer</class>
                        <method>handleCustomerSaveBefore</method>
                    </contactid>
                </observers>
            </customer_save_before>
            <sales_order_save_after>
                <observers>
                    <connector_checkout_type_onepage_save_order_after>
                        <class>Dotdigitalgroup_Email_Model_Observer</class>
                        <method>handleSalesOrderSaveAfter</method>
                    </connector_checkout_type_onepage_save_order_after>
                </observers>
            </sales_order_save_after>
            <sales_quote_save_after>
                <observers>
                    <connector_quote_save_after>
                        <type>singleton</type>
                        <class>Dotdigitalgroup_Email_Model_Observer</class>
                        <method>handleSalesQuoteSaveAfter</method>
                    </connector_quote_save_after>
                </observers>
            </sales_quote_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <connector_sales_order_payment_refund>
                        <class>Dotdigitalgroup_Email_Model_Observer</class>
                        <method>handleSalesOrderRefund</method>
                    </connector_sales_order_payment_refund>
                </observers>
            </sales_order_creditmemo_save_after>
            <order_cancel_after>
                <observers>
                    <connector_sales_order_cancel>
                        <class>Dotdigitalgroup_Email_Model_Observer</class>
                        <method>hangleSalesOrderCancel</method>
                    </connector_sales_order_cancel>
                </observers>
            </order_cancel_after>

            <sales_order_status_after>
                <observers>
                    <connector_sales_order_status_change>
                        <class>Dotdigitalgroup_Email_Model_Observer</class>
                        <method>handleSalesOrderStatusChange</method>
                    </connector_sales_order_status_change>
                </observers>
            </sales_order_status_after>
        </events>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <connector>
                    <file>connector.xml</file>
                </connector>
            </updates>
        </layout>
    </adminhtml>


    <admin>
        <routers>
            <connector>
                <use>admin</use>
                <args>
                    <modules>
                        <connector before="Mage_Adminhtml">Dotdigitalgroup_Email_Adminhtml</connector>
                    </modules>
                    <module>Dotdigitalgroup_Email_Adminhtml</module>
                    <frontName>connector</frontName>
                </args>
            </connector>
        </routers>
    </admin>

    <crontab>
        <jobs>
            <dotdigitalgroup_email_customer_sync>
                <run><model>connector/cron::customersync</model></run>
                <schedule>
                    <config_path>connector_sync_settings/sync_customer_schedule/cronschedule</config_path>
                </schedule>
            </dotdigitalgroup_email_customer_sync>
            <dotdigitalgroup_email_lostbaskets_sync>
                <run><model>connector/cron::lostbasketssync</model></run>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
            </dotdigitalgroup_email_lostbaskets_sync>
            <dotdigitalgroup_email_suppressed_sync>
                <run><model>connector/cron::suppressedsync</model></run>
                <schedule>
                    <config_path>connector_sync_settings/sync_suppressed_schedule/cronschedulesupp</config_path>
                </schedule>
            </dotdigitalgroup_email_suppressed_sync>
            <dotdigitalgroup_email_cleaner>
                <run><model>connector/cron::cleaning</model></run>
                <schedule>
                    <cron_expr>0 0 1 * * </cron_expr>
                </schedule>
            </dotdigitalgroup_email_cleaner>
        </jobs>
    </crontab>
    <default>
        <connector_api_settings>
            <api_credentials>
                <username></username>
                <password></password>
            </api_credentials>
        </connector_api_settings>
        <connector_sync_settings>
            <sync_customer_schedule>
                <enabled>0</enabled>
                <cronschedule></cronschedule>
            </sync_customer_schedule>
            <sync_suppressed_schedule>
                <enabled>0</enabled>
                <cronschedulesupp></cronschedulesupp>
            </sync_suppressed_schedule>
            <transactional_data>
                <enabled>0</enabled>
            </transactional_data>
        </connector_sync_settings>
        <connector_data_field_settings>
            <customer_data>
                <firstname></firstname>
                <lastname></lastname>
                <dob></dob>
                <gender></gender>
                <website_created_on></website_created_on>
                <store_created_on></store_created_on>
                <account_created></account_created>
                <last_logged_in></last_logged_in>
                <customer_group></customer_group>
            </customer_data>
            <customer_address>
                <billing_address_1></billing_address_1>
                <billing_address_2></billing_address_2>
                <billing_city></billing_city>
                <billing_country></billing_country>
                <billing_postcode></billing_postcode>
                <billing_telephone></billing_telephone>
                <delivery_address_1></delivery_address_1>
                <delivery_address_2></delivery_address_2>
                <delivery_city></delivery_city>
                <delivery_country></delivery_country>
                <delivery_postcode></delivery_postcode>
                <delivery_telephone></delivery_telephone>
            </customer_address>
            <customer_sales>
                <total_orders></total_orders>
                <average_order_value></average_order_value>
                <total_spend></total_spend>
            </customer_sales>
        </connector_data_field_settings>

        <connector_roi_page_tracking_settings>
            <page_tracking>
                <enabled></enabled>
            </page_tracking>
            <roi_tracking>
                <enabled></enabled>
            </roi_tracking>
        </connector_roi_page_tracking_settings>
        <connector_newsletter_subscription_settings>
            <customers_subscription_management>
                <default></default>
            </customers_subscription_management>
            <subscribers_subscription_management>
                <default></default>
            </subscribers_subscription_management>
        </connector_newsletter_subscription_settings>
        <lost_basket_settings>
            <customers>
                <enabled_1></enabled_1>
                <send_after_1></send_after_1>
                <campaign_1></campaign_1>
                <enabled_2></enabled_2>
                <send_after_2></send_after_2>
                <campaign_2></campaign_2>
                <enabled_3></enabled_3>
                <send_after_3></send_after_3>
                <campaign_3></campaign_3>
            </customers>
            <guests>
                <enabled_1></enabled_1>
                <send_after_1></send_after_1>
                <campaign_1></campaign_1>
                <enabled_2></enabled_2>
                <send_after_2></send_after_2>
                <campaign_2></campaign_2>
                <enabled_3></enabled_3>
                <send_after_3></send_after_3>
                <campaign_3></campaign_3>
            </guests>
        </lost_basket_settings>
        <connector_advanced_settings>
            <sync_limits>
                <contact>500</contact>
                <orders>500</orders>
            </sync_limits>
            <admin>
                <memory_limit></memory_limit>
                <batch_size>5000</batch_size>
            </admin>
        </connector_advanced_settings>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Dotdigitalgroup_Email />
            </modules>
        </suite>
    </phpunit>
</config>
