<?xml version="1.0"?>
<config>
    <modules>
        <Dotdigitalgroup_Email>
            <version>3.1.2</version>
        </Dotdigitalgroup_Email>
    </modules>
    <frontend>
        <routers>
            <connector>
                <use>standard</use>
                <args>
                    <module>Dotdigitalgroup_Email</module>
                    <frontName>connector</frontName>
                </args>
            </connector>
        </routers>
        <layout>
            <updates>
                <connector>
                    <file>connector.xml</file>
                </connector>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <email_connector_setup>
                <setup>
                    <module>Dotdigitalgroup_Email</module>
                    <class>Dotdigitalgroup_Email_Model_Resource_Setup</class>
                </setup>
            </email_connector_setup>
        </resources>
        <models>
            <email_connector>
                <class>Dotdigitalgroup_Email_Model</class>
                <resourceModel>email_connector_resource</resourceModel>
            </email_connector>
            <email_connector_resource>
                <class>Dotdigitalgroup_Email_Model_Resource</class>
                <entities>
                    <order>
                        <table>email_order</table>
                    </order>
                    <contact>
                        <table>email_contact</table>
                    </contact>
                    <campaign>
                        <table>email_campaign</table>
                    </campaign>
                    <create>
                        <table>email_create</table>
                    </create>
                </entities>
            </email_connector_resource>
            <core>
                <rewrite>
                    <email_template>Dotdigitalgroup_Email_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <helpers>
            <connector>
                <class>Dotdigitalgroup_Email_Helper</class>
            </connector>
        </helpers>
        <blocks>
            <email_connector>
                <class>Dotdigitalgroup_Email_Block</class>
            </email_connector>
        </blocks>
        <events>
            <admin_system_config_changed_section_connector_api_credentials>
                <observers>
                    <connector_api_save>
                        <class>Dotdigitalgroup_Email_Model_Adminhtml_Observer</class>
                        <method>actionConfigSaveApi</method>
                    </connector_api_save>
                </observers>
            </admin_system_config_changed_section_connector_api_credentials>
            <admin_system_config_changed_section_connector_transactional_emails>
                <observers>
                    <connector_transactional_api>
                        <class>Dotdigitalgroup_Email_Model_Adminhtml_Observer</class>
                        <method>actionConfigTransactional</method>
                    </connector_transactional_api>
                </observers>
            </admin_system_config_changed_section_connector_transactional_emails>
            <admin_system_config_changed_section_connector_sync_settings>
                <observers>
                    <connector_sync_reset>
                        <class>Dotdigitalgroup_Email_Model_Adminhtml_Observer</class>
                        <method>actionConfigResetContacts</method>
                    </connector_sync_reset>
                </observers>
            </admin_system_config_changed_section_connector_sync_settings>
            <admin_system_config_changed_section_connector_data_mapping>
                <observers>
                    <connector_data_mapping_reset>
                        <class>Dotdigitalgroup_Email_Model_Adminhtml_Observer</class>
                        <method>actionConfigResetContacts</method>
                    </connector_data_mapping_reset>
                </observers>
            </admin_system_config_changed_section_connector_data_mapping>
            <customer_save_after>
                <observers>
                    <connector_customer_save_after>
                        <class>Dotdigitalgroup_Email_Model_Customer_Observer</class>
                        <method>handleCustomerSaveBefore</method>
                    </connector_customer_save_after>
                </observers>
            </customer_save_after>
            <customer_register_success>
                <observers>
                    <connector_customer_register_success>
                        <type>singleton</type>
                        <class>Dotdigitalgroup_Email_Model_Customer_Observer</class>
                        <method>handleCustomerRegiterSuccess</method>
                    </connector_customer_register_success>
                </observers>
            </customer_register_success>
            <newsletter_subscriber_save_before>
                <observers>
                    <connector_newsletter_subscriber_save_before>
                        <class>Dotdigitalgroup_Email_Model_Newsletter_Observer</class>
                        <method>handleNewsletterSubscriberSave</method>
                    </connector_newsletter_subscriber_save_before>
                </observers>
            </newsletter_subscriber_save_before>
            <sales_order_place_after>
                <observers>
                    <connector_record_sale>
                        <type>singleton</type>
                        <class>Dotdigitalgroup_Email_Model_Sales_Observer</class>
                        <method>handleSalesOrderPlaceAfter</method>
                    </connector_record_sale>
                </observers>
            </sales_order_place_after>
            <sales_order_save_before>
                <observers>
                    <connector_sales_save_before>
                        <class>Dotdigitalgroup_Email_Model_Sales_Observer</class>
                        <method>handleSalesOrderSaveBefore</method>
                    </connector_sales_save_before>
                </observers>
            </sales_order_save_before>
            <sales_order_save_after>
                <observers>
                    <connector_checkout_type_onepage_save_order_after>
                        <class>Dotdigitalgroup_Email_Model_Sales_Observer</class>
                        <method>handleSalesOrderSaveAfter</method>
                    </connector_checkout_type_onepage_save_order_after>
                </observers>
            </sales_order_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <connector_sales_order_payment_refund>
                        <class>Dotdigitalgroup_Email_Model_Sales_Observer</class>
                        <method>handleSalesOrderRefund</method>
                    </connector_sales_order_payment_refund>
                </observers>
            </sales_order_creditmemo_save_after>
            <order_cancel_after>
                <observers>
                    <connector_sales_order_cancel>
                        <class>Dotdigitalgroup_Email_Model_Sales_Observer</class>
                        <method>hangleSalesOrderCancel</method>
                    </connector_sales_order_cancel>
                </observers>
            </order_cancel_after>
            <rewards_points_indexer_update>
                <observers>
                    <connector_rewards_points_indexer_update>
                        <class>Dotdigitalgroup_Email_Model_Sweettooth_Observer</class>
                        <method>ConnectorRewardsPointsIndexerUpdate</method>
                    </connector_rewards_points_indexer_update>
                </observers>
            </rewards_points_indexer_update>
            <review_save_after>
                <observers>
                    <connector_review_save_after>
                        <class>Dotdigitalgroup_Email_Model_Customer_Observer</class>
                        <method>reviewSaveAfter</method>
                    </connector_review_save_after>
                </observers>
            </review_save_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <connector_email>
                    <file>connector/email.xml</file>
                </connector_email>
            </updates>
        </layout>
        <translate>
            <modules>
                <Dotdigitalgroup_Email>
                    <files>
                        <default>Dotdigitalgroup_Email.csv</default>
                    </files>
                </Dotdigitalgroup_Email>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dotdigitalgroup_Email before="Mage_Adminhtml">Dotdigitalgroup_Email_Adminhtml</Dotdigitalgroup_Email>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <connector_email_customer_sync>
                <run><model>email_connector/cron::contactSync</model></run>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
            </connector_email_customer_sync>
            <connector_email_subscriber_and_guest_sync>
                <run><model>email_connector/cron::subscribersAndGuestSync</model></run>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
            </connector_email_subscriber_and_guest_sync>
            <connector_email_lostbaskets>
                <run><model>email_connector/cron::lostBaskets</model></run>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
            </connector_email_lostbaskets>
            <connector_email_create>
                <run>
                    <model>email_connector/cron::createEmailsToCampaigns</model>
                </run>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
            </connector_email_create>
            <connector_email_campaign>
                <run>
                    <model>email_connector/cron::sendMappedEmails</model>
                </run>
                <schedule>
                    <cron_expr>02,07,12,17,22,27,32,37,42,47,52,57 * * * *</cron_expr>
                </schedule>
            </connector_email_campaign>
            <connector_email_order_sync>
                <run><model>email_connector/cron::orderSync</model></run>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
            </connector_email_order_sync>
            <connector_email_cleaner>
                <run><model>email_connector/cron::cleaning</model></run>
                <schedule>
                    <cron_expr>0 0 1 * * </cron_expr>
                </schedule>
            </connector_email_cleaner>
        </jobs>
    </crontab>
    <default>
        <connector_api_credentials>
            <api>
                <enabled>0</enabled>
                <username></username>
                <password></password>
            </api>
        </connector_api_credentials>
        <connector_sync_settings>
            <address_book>
                <customers></customers>
                <subscribers></subscribers>
                <guests></guests>
            </address_book>
            <sync>
                <contact_enabled>0</contact_enabled>
                <subscriber_enabled>0</subscriber_enabled>
                <order_enabled>0</order_enabled>
                <wishlist_enabled>0</wishlist_enabled>
            </sync>
            <dynamic_addressbook>
                <addressbook_name></addressbook_name>
            </dynamic_addressbook>
        </connector_sync_settings>
        <connector_data_mapping>
            <customer_data>
                <customer_id></customer_id>
                <firstname></firstname>
                <lastname></lastname>
                <dob></dob>
                <gender></gender>
                <website_name></website_name>
                <store_name></store_name>
                <created_at></created_at>
                <last_logged_date></last_logged_date>
                <customer_group></customer_group>
                <billing_address_1></billing_address_1>
                <billing_address_2></billing_address_2>
                <billing_city></billing_city>
                <billing_state></billing_state>
                <billing_country></billing_country>
                <billing_postcode></billing_postcode>
                <billing_telephone></billing_telephone>
                <delivery_address_1></delivery_address_1>
                <delivery_address_2></delivery_address_2>
                <delivery_city></delivery_city>
                <delivery_state></delivery_state>
                <delivery_country></delivery_country>
                <delivery_postcode></delivery_postcode>
                <delivery_telephone></delivery_telephone>
                <number_of_orders></number_of_orders>
                <average_order_value></average_order_value>
                <total_spend></total_spend>
                <last_order_date></last_order_date>
                <last_order_id></last_order_id>
                <custom_attributes></custom_attributes>
                <validator></validator>
            </customer_data>
            <dynamic_datafield>
                <datafield_name></datafield_name>
                <datafield_type></datafield_type>
            </dynamic_datafield>
        </connector_data_mapping>
        <connector_roi_tracking>
            <page_tracking>
                <enabled>0</enabled>
            </page_tracking>
            <roi_tracking>
                <enabled>0</enabled>
            </roi_tracking>
        </connector_roi_tracking>
        <connector_lost_baskets>
            <customers>
                <enabled_1>0</enabled_1>
                <send_after_1></send_after_1>
                <campaign_1></campaign_1>
                <enabled_2>0</enabled_2>
                <send_after_2></send_after_2>
                <campaign_2></campaign_2>
                <enabled_3>0</enabled_3>
                <send_after_3></send_after_3>
                <campaign_3></campaign_3>
            </customers>
            <guests>
                <enabled_1>0</enabled_1>
                <send_after_1></send_after_1>
                <campaign_1></campaign_1>
                <enabled_2>0</enabled_2>
                <send_after_2></send_after_2>
                <campaign_2></campaign_2>
                <enabled_3>0</enabled_3>
                <send_after_3></send_after_3>
                <campaign_3></campaign_3>
            </guests>
        </connector_lost_baskets>
        <connector_sms>
            <sms_one>
                <enabled>0</enabled>
                <status></status>
                <message></message>
            </sms_one>
            <sms_two>
                <enabled>0</enabled>
                <status></status>
                <message></message>
            </sms_two>
            <sms_three>
                <enabled>0</enabled>
                <status></status>
                <message></message>
            </sms_three>
            <sms_four>
                <enabled>0</enabled>
                <status></status>
                <message></message>
            </sms_four>
        </connector_sms>
        <connector_dynamic_content>
            <products>
                <related_display_type>list</related_display_type>
                <related_items_to_display>2</related_items_to_display>
                <upsell_display_type>list</upsell_display_type>
                <upsell_items_to_display>2</upsell_items_to_display>
                <crosssell_display_type>list</crosssell_display_type>
                <crosssell_items_to_display>2</crosssell_items_to_display>
                <bestsellers_display_type>list</bestsellers_display_type>
                <bestsellers_items_to_display>2</bestsellers_items_to_display>
                <bestsellers_time_period></bestsellers_time_period>
                <most_viewed_display_type>list</most_viewed_display_type>
                <most_viewed_items_to_display>2</most_viewed_items_to_display>
                <most_viewed_time_period></most_viewed_time_period>
                <recently_viewed_display_type>list</recently_viewed_display_type>
                <recently_viewed_items_to_display>2</recently_viewed_items_to_display>
            </products>
            <external_dynamic_content_urls>
                <passcode>secret</passcode>
                <lost_basket_url></lost_basket_url>
                <coupon_code_url></coupon_code_url>
                <dynamic_content_url></dynamic_content_url>
                <related_products_url></related_products_url>
                <upsell_products_url></upsell_products_url>
                <crosssell_products_url></crosssell_products_url>
                <best_sellers_url></best_sellers_url>
                <most_viewed_url></most_viewed_url>
                <product_push_url></product_push_url>
                <recently_viewed_url></recently_viewed_url>
                <new_order_url></new_order_url>
                <new_order_guest_url></new_order_guest_url>
                <order_update_url></order_update_url>
                <order_update_guest_url></order_update_guest_url>
                <new_invoice_url></new_invoice_url>
                <new_invoice_guest_url></new_invoice_guest_url>
                <invoice_update_url></invoice_update_url>
                <invoice_update_guest_url></invoice_update_guest_url>
                <new_creditmemo_url></new_creditmemo_url>
                <new_creditmemo_guest_url></new_creditmemo_guest_url>
                <creditmemo_update_url></creditmemo_update_url>
                <creditmemo_update_guest_url></creditmemo_update_guest_url>
                <new_shipment_url></new_shipment_url>
                <new_shipment_guest_url></new_shipment_guest_url>
                <shipment_update_url></shipment_update_url>
                <shipment_update_guest_url></shipment_update_guest_url>
            </external_dynamic_content_urls>
            <manual_product_search>
                <display_type>list</display_type>
                <items_to_display>2</items_to_display>
                <products_push_items></products_push_items>
            </manual_product_search>
            <fallback_products>
                <product_list></product_list>
            </fallback_products>
        </connector_dynamic_content>
        <connector_transactional_emails>
            <credentials>
                <enabled>0</enabled>
                <api_username></api_username>
                <api_password></api_password>
            </credentials>
            <email_settings>
                <unsubscribe_link>1</unsubscribe_link>
                <reply_action>Webmail</reply_action>
                <reply_address></reply_address>
            </email_settings>
            <email_mapping>
                <default_email_templates></default_email_templates>
                <custom_email_templates></custom_email_templates>
            </email_mapping>
        </connector_transactional_emails>
        <connector_advanced_settings>
            <sync_limits>
                <orders>500</orders>
            </sync_limits>
            <admin>
                <setup_data_fields></setup_data_fields>
                <delete_contact></delete_contact>
                <reimport_orders></reimport_orders>
                <reimport_subscribers></reimport_subscribers>
                <suppressed_contacts></suppressed_contacts>
                <memory_limit>0</memory_limit>
                <batch_size>10000</batch_size>
                <debug_enabled>1</debug_enabled>
                <inline_styling><![CDATA[table{font-family: arial, geneva, sans-serif; font-size:12px;}]]></inline_styling>
                <recommended_inline><![CDATA[table{font-family: arial, geneva, sans-serif; font-size:12px;}]]></recommended_inline>
            </admin>
        </connector_advanced_settings>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Dotdigitalgroup_Email />
            </modules>
        </suite>
    </phpunit>
</config>